.HomeWrapper{
    width: 940px;
    margin: 0 auto;
   
}

.HomeMain {
    float: left;
    
    margin-left: 20px;
    margin: 0 auto;
    height: 500px;
    width: 320px;    
    background-color: aquamarine;
    padding:10px;
    
}

.HomeMap{
    float:right;
    width: 590px;
    height: 500px;
    background-color: aquamarine;
    
}

.HomeMap MyMap {
    width: 570px;
    margin:0 auto;
    display:block;
    
}